#headerhead{
    font-family: 'DotGothic16', sans-serif;
}

a {
    text-decoration: none;
    color:white
}

p{
    color:white;
}
 
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #371D65;
    color:white;
}

.navlinks{
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
    

}
#headerhead{
    height: 75px;
    width: 150px;
    margin-right: 825px;
    border-bottom: magenta 3px solid;
   
}

.footer{
    background-color: #371D65;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa-brands{
    color:white;
    padding:40px  
}

.fa-brands:hover{
    background-color:#7A687F ;
}


body{
    background-color:#371D65 ;
    background-color: linear-gradient(#371D65(255, 0, 0, 0.5),#371D65(255, 0, 0, 0.5));
    font-family: 'Roboto Condensed', sans-serif;
}

.navword{
    width:100px;
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navword:hover{
    background-color:#7A687F ;
}

.contactform{
    background-color:#371D65;
    border-style: solid;
    border-color: magenta;
    border-width: 2px;
    border-radius: 15px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width:350px;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 100px;
}

button {
    
    display: inline-block;
    border: none;
    padding: 1rem 4rem;
    margin: 0;
    text-decoration: none;
    background: #371D65;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 25px;
    margin: 40px;
}

button:hover,
button:focus {
    background: #7A687F;
    outline: 1px solid magenta;
}

button:focus {
    outline: 1px solid magenta;
    outline-offset: -4px;
    
}

button:active {
    transform: scale(0.99);
}

input{
    border-style: solid;
    /* border-color: magenta; */
    border-width: 2px;
    border-radius: 15px;
    height: 40px;
    margin-bottom: 40px;
}

textarea{
    border-radius: 15px;
    height: 120px;
}

#contactmehead{
    margin:auto;
    color:white;
}
h1{
    color:white;
}
.contact-message{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pagetitle{
    border-bottom: 3px solid magenta;
}